<meta name="viewport" content="width=device-width" />
<html ng-app="atmoapp" manifest="offline.appcache">
<head>
<link rel="stylesheet" type="text/css" href="./styles.css"/>
<script src="./q.min.js"></script>
<script src="./angular.min.js"></script>
<script src="./atmoapp/main.js"></script>
</head>
<body>
    <div id='content' ng-controller="PressureController">
        <div id='cityForm' ng-show='showCity'>
          <input type='text' id='cityText' placeholder='Type city name' ng-model="cityName"></input>
          <button ng-click="getAtmoClicked()">Get Atmo Graph</button>
        </div>
        <div id='city' class='div-city'>
            {{info.cityName}}
        </div>
        <div id="pressure">
            <div ng-repeat="pressure in pressures" ng-style='pressure.colorStyle' class='div-diff'>
                {{pressure.text | date: "MMMM d"}} {{pressure.up}}
            </div>
            <div id='progressSection'>
                <div id='progressText'>Getting pressure for your location</div>
                <progress id='progressbar'></progress>
            </div>
        </div>
    <div class='contacts'>
      Uses <a href='http://www.openweathermap.org'>openweathermap.org</a> API. For contacts: dmytro.gladkyi at gmail dot com
    </div>
  </div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51948444-1', 'atmoache.me');
  ga('send', 'pageview');
</script>
</html>
