input[type='text'] {
    width: 20%;
    height: 3rem;
    border: 2px solid black;
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    font-size: 1rem;
    text-align: center;
    min-width:150px;
}

.invalid-city {
    color: rgb(200,127,118);
}

#content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
}

.div-city {
    text-align:center;
    font-weight: bold;
    padding: 1rem;
}

#cityForm {
    text-align: center;
}

#pressure {
    padding-bottom: 1rem;
}

@media screen and (max-device-width: 480px) {
    #body {
        height: 100%;
    }

    .div-diff {
        height: 20%;
    }

    input[type='button'] {
      width: 50%;
    }

    input[type='text'] {
      width: 50%;
    }
}

.contacts {
    font-size: 0.75rem;
    text-align: right;
    border-top: 1px solid black;
}

paper-progress {
    width: 100%;
    margin-top: 0.5rem;
}

.hidden-element {
    display: none;
}
