.div-diff {
    text-align: center;
    line-height: 10rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 2rem;
}

.div-container {
    text-align: center;
}

