.div-diff {
    text-align: center;
    /*height: 14%;*/
    line-height: 3rem;
}

.invalid-city {
    background-color: red;
}

.div-city {
    text-align:center;
    font-weight: bold;
}

#cityForm {
    text-align: center;
}

@media screen and (max-device-width: 480px) {
    #body {
	height: 100%;
    }

    .div-diff {
	height: 20%;
	-webkit-text-size-adjust: 300%;
    }

    .div-city {
	font-size: 3rem;
    }
}

#body {
    width: 100%;
    height: 100%;
}